	* 
	{
	    box-sizing: border-box;
	    color: #336666;
	}

	#top_notification 
	{ 
		width: 100%; 
		padding-bottom: 1rem; 
	}

	#top_banner 
	{ 
		width: 100%; 
		padding-bottom: 1rem; 
	}

	@media screen and (max-width: 600px)
	{
		*
		{
			font-family: Verdana, Geneva, sans-serif;
		}

		#top_notification 
		{ 
			width: 100%; 
			padding-bottom: 1rem; 
		}

		#top_banner 
		{ 
			width: 100%; 
			padding-bottom: 1rem; 
		}

		#product_image 
		{ 
			width: 100%;
			float: left;
		}

		.product_content_tile
		{
			width: 90%;
			margin:5%;
			float: left;
			text-align: justify;

			font-size: 14pt;
			font-weight: 400;
		}

		#product_related_info
		{
			padding: 0.5%;
			float: left;
			font-size: 14pt;
			font-weight: 400;
			text-align: center;
			
		}

		#product_related_info div
		{
			padding: 0.5%;
			width: 100%;
			float: left;
			text-align: center;
			border-top: 2px solid #336666;
		}

		.tile
		{
			width: 100%;
			padding: 0.5rem;
		}

		.tile_img
		{
			max-width:100%; display:block;
		}

		#tiles_header
		{
			font-size: 14pt;
			font-weight: 400;
			font-family: Arial;
			text-align: center;
			margin-top: 1rem;
			float:left;
		}
	}

	@media screen and (min-width: 601px) and (max-width: 999px)
	{

		#product_image 
		{ 
			width: 50%;
			max-width: 500px; 
			height:auto;
			float: left;
			padding: 1rem;
		}

		#product_content
		{
			width: 100%;
		}

		#product_related_info
		{
			padding: 0.5%;
			float: left;
			font-size: 14pt;
			font-weight: 400;
			font-family: Arial, sans-serif;
		}

		#product_related_info div
		{
			padding: 0.5%;
			width: 33%;
			float: left;
			text-align: center;
		}

		.product_content_tile
		{
			width: 50%;
			float: left;

			font-size: 14pt;
			font-weight: 400;
			font-family: Arial, sans-serif;

			padding: 2rem;
		}

		#tile_section
		{
			width: 100%;
			padding: 0.5%;
			float: left;
		}

		.tile
		{
			width: 33%;
			float: left;
			padding: 0.5rem;
		}

		.tile_img
		{
			max-width:100%; display:block;
			max-height: 100%;
		}

		#tiles_header
		{
			font-size: 14pt;
			font-weight: 400;
			font-family: Arial;
			text-align: center;
		}
	}
	@media screen and (min-width: 1000px)
	{
		*
		{
			font-family: Arial, sans-serif;
		}

		#wrapper
		{
			width:1000px;
			margin:0 auto;
		}

		#product_image 
		{ 
			width: 50%;
			max-width: 500px; 
			height:auto;
			float: left;
			padding: 1rem;
		}

		#product_content
		{
			width: 100%;
		}

		#product_related_info
		{
			padding: 0.5%;
			float: left;
			font-size: 14pt;
			font-weight: 400;
		}

		#product_related_info div
		{
			padding: 0.5%;
			width: 33%;
			float: left;
			text-align: center;
		}

		.product_content_tile
		{
			width: 50%;
			float: left;

			font-size: 14pt;
			font-weight: 400;

			padding: 2rem;
		}

		#tile_section
		{
			width: 100%;
			padding: 0.5%;
			float: left;
		}

		.tile
		{
			width: 33%;
			float: left;
			padding: 0.5rem;
		}

		.tile_img
		{
			max-width:100%; display:block;
			max-height: 100%;
		}

		#tiles_header
		{
			font-size: 14pt;
			font-weight: 400;
			font-family: Arial;
			text-align: center;
		}
	}
